.my_detail {
  width: 150px;
  margin: 0 auto;
}

.my_detail .my_pic {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.my_detail .my_name {
  display: block;
  margin-top: 20px;
}

.my_no {
  margin: 20px auto;
  text-align: center;
}
