.hot-music .hot-music-top {
  position: relative;
  padding: 20px;
  height: 38.9vw;
  background: url(../../source/icon/hot_music_bg_2x.jpg) no-repeat;
  background-size: contain;
}

.hot-music .hot-music-top::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.hot-music .hot-music-top .hot-muisc-logo {
  position: relative;
  width: 142px;
  height: 67px;
  z-index: 2;
  background: url(../../source/icon/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
  background-position: -24px -30px;
}

.hot-music .hot-music-top .hot-muisc-update {
  position: relative;
  margin-top: 10px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  transform: scale(0.91);
  transform-origin: left top;
}

.hot-music .hot-music-list {
  display: flex;
  background-color: #fff;
}

.hot-music .hot-music-list:nth-child(-n+4) .hot-music-rank {
  color: #f01414;
}

.hot-music .hot-music-list .hot-music-rank {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.hot-music .hot-music-list .music-list {
  flex: 1;
}

.hot-music .hot-music-list .am-list-item {
  padding-left: 0;
}

.hot-music p {
  text-align: center;
  color: #A65D47;
}
